[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
	branch = 1.46
[submodule "oe-core"]
	path = oe-core
	url = git://git.openembedded.org/openembedded-core
	branch = dunfell
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = dunfell
[submodule "meta-freescale"]
	path = meta-freescale
	url = git://git.yoctoproject.org/meta-freescale
	branch = dunfell
[submodule "meta-bsp-common"]
	path = meta-bsp-common
	url = ssh://git@github.com/data-respons-solutions/meta-bsp-common.git
[submodule "meta-connectivity"]
	path = meta-connectivity
	url = ssh://git@github.com/data-respons-solutions/meta-connectivity.git
[submodule "meta-bsp-vec6200"]
	path = meta-bsp-vec6200
	url = ssh://git@github.com/data-respons-solutions/meta-bsp-vec6200.git
[submodule "meta-datarespons"]
	path = meta-datarespons
	url = ssh://git@github.com/data-respons-solutions/meta-datarespons.git
[submodule "meta-test"]
	path = meta-test
	url = ssh://git@github.com/data-respons-solutions/meta-test.git
[submodule "build/build-tools"]
	path = build/build-tools
	url = ssh://git@github.com/data-respons-solutions/build-tools.git
